.App {
  text-align: center;
}

.default-navbar {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 20% auto 15%;
}
.nav-pages{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}

.nav-tab{
  list-style: none;
}

.boxed {
  border: 1px solid black;
  width: 100%;
  border-radius: 0.75em;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 20em;
}

.content{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 5%;
}

.card-title-header{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: -webkit-center;
  height: 2em;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

}

.card-title-header h3{
  width: 100%; 
  margin-bottom: 10;
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2em;
  line-height: 1em;
  
   
}
.card-title-header a{
  text-decoration: none;
  color: black;
}

.card-subtitle{
  text-align: center;
  margin-bottom: 3px !important;
  display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
} 

.welcome-page-container{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */

}
/* .mountain-index{
  border: 1px solid black;
  width: 50%;
  margin: 25%;
  display: flex;
  justify-content: center;
} */

.mountain-index{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mountain-search-container{
  width: 25%;
  height: 100px;
  /* border: 1px solid black;  */
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.search-icon {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  background-color: white;
}

.featured-mountains-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.featured-mountains {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 75%;
  justify-content: center;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.mountain-card{
  /* width: 75px;
  height: 100px;
  margin: 15px; */
  border: 1px solid black; 
  /* display: flex; */
  /* flex-direction: column; */
}

.weather-icon{
  max-width: 75px;
  height: auto;
}
.weather-item .weather-icon{
  max-width: 50px;
  height: auto;
  display: flex;
  background-color: transparent;
}

.weather-forecast{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weather-today-temp{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-today{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weather-conditions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left
}

.add-to-favorites-button:hover{
  cursor: pointer;
}

.header{
  display: flex;
  min-height: 360px;
  width: 100%;
  position: relative;

}

.header-gradient{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,1.2));
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-img{
  background-image: url('../assets/images/Background Image - Wooded-blue.png');
  /* background-image: url('../assets/images/Stowe\ Trail-wide.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;
  opacity: 50%;
  
}

.favorite-mountains-abridged{

}

.container-header{
  display: flex;
  justify-content: space-between;
}

.favorite-mountains{
  display: flex;
  flex-wrap: wrap;
  max-width: 1650px;
  justify-content: center;
  margin: auto;
}

#upcoming-trips{
  height: 300px;
}

#favorite-mou ntain-index{
  display: flex;
  flex-direction: column;
}

#favorite-mountain-index-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 300px;
}

.favorite-mountain-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 45%;
  min-width: 450px;
  margin: auto;
}


.favorite-mountain-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.favorite-mountain-info{
  border: 1px solid black;
  width: 100%;
  border-radius: 0.75em;
}

.mountain-status{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.favorite-mountain-conditions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mountain-runs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.75em;
}

.visited-count{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-wrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.favorite-mountain-item-header{

}
.footer{
  display: flex;
  flex-direction: row;
  min-height: 120px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33%;
}
.social-link{

}